.divWidth {
  min-height: 500px auto;
  width: 300px;
  padding: 25px;
  background-color: lightblue;
  border-radius: 5px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.form-control {
  display: block;
}

.listClass {
  position: absolute;
}

.faicons {
  position: absolute;
  cursor: pointer;
  right: 10px;
  margin-top: 3px;
}

.liClass {
  position: relative;
  background-color: blueviolet;
  margin: 10px 0px;
  padding: 5px 10px;
  border-radius: 5px;
  color: aliceblue;
  width: 245px;
}

.handleInput {
  border-radius: 5px;
  color: black;
  outline: none;
  padding: 5px;
}

.inputClass {
  background: blueviolet;
  border: 0;
  outline: none;
  color: antiquewhite;
}
